<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="col-sm-6">

        <h3>Roulette</h3>

        <% let amountWon = 0 %>
        <% let amountLose = 0 %>

        <% for (var i=0; i<bets.length; i++) { %>
        <% bets[i].win === 'win' ? amountWon++ : amountLose++ %>
        <% } %>



        <% let casinoEarnings = 0 %>

        <% for (var i=0; i<bets.length; i++) { %>
        <% bets[i].win === 'win' ? casinoEarnings = casinoEarnings + Number(bets[i].bet) : casinoEarnings = casinoEarnings + Number(bets[i].bet) %>
        <% } %>

          <span><%= amountWon %> Casino Wins and <%= amountLose %> Casino Losses</span>
          <br>
          <span>Casino Earnings: <%= casinoEarnings %></span>


</div>

<script src="main.js"></script>

</body>
</html>
